.dash-container{
    display:flex;
    align-items: center;
    justify-content: center;
    height:95vh;
}
.dashboard{
    width:90%;
    height:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.item{
 width:27%;
 height:200px;
 background-color: blue;
 margin: 10px;
 border-radius: 20px;
 text-transform: uppercase;
 font-size: 1.5rem;
 color:white;
 display:flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.avatar{
    width:auto;
    height:40%;
    margin-bottom: 10px;
    
}
.item:nth-child(1){
    background-color: #0F1736;
    color:white
}
.item:nth-child(2){
    background-color: var(--blue);
}
.item:nth-child(3){
    background-color: #696EE3;
    color:white;
}
.item:nth-child(4){
    background-color: #253879;
}
.item:nth-child(5){
    background-color: #3558D3;
}
.item:nth-child(6){
    background-color: #12225c;
}
.footer{
    margin:0;
    padding:0;
}
