.differences{
    width:100%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.title{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    
}
.title span{
    color:var(--blue);

}
.right,.left{
    margin-top: 80px;
    width:40%;
    transition:1s ease-in;
    

}

.user, .company{
    width:100%;
    height:auto;
    margin-top: 50px;
    border-radius: 15px;
    background-color:rgb(73, 73, 187);
    box-shadow: 1px 1px 50px var(--blue);
    
}


.left h2,.right h2{
   text-align: center;
   text-transform: uppercase;
    font-size: 1.8rem;
}


.dot{
    width: 10px;
    height:10px;
    border-radius:50%;
    background-color: white;
}


.sentence{
    
    display:flex;
    flex-direction: row;
    padding:5px 10px;
    font-size: 1.5rem;
    align-items: center;
    
}
.sentence p{
    margin-left: 30px;
    padding:20px;
    width:90%;
    color:white;
}
.footer{
    margin-top: 30px;
    padding:20px;
    width:100%;
    text-align: center;
    font-size: 1.2rem;

}
.last p{
    text-align: center;
    font-size: 1.6rem;
    animation: blink 2s ease infinite;
    font-weight: bold;
}
@keyframes blink {
0%{
    color:white;
}
50%{
    color:var(--blue);
}
100%{
    color:white;
}

}


